# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.sqlite3
360-video -.mp4

# Virtual environments
venv/
.venv/
backend/venv/

# Django
db.sqlite3
*.log
*.pot
*.pyc
local_settings.py

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Node / tooling (if added later)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
